/*Stylesheet by Stephen L. Patterson*/

html, body, .container {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.row {
    height: 100%;
}

.row-fluid {
    height: 50%;
}

#mapid {
    height: 100%;
}
#column2 {
    height: 100%;
}

#panel1 {
    background:white;
    height: 100%;
}


#panel2 {
    background:lightgrey;
    position: relative;
    height: 100%;
    text-align: center;
    border: 2px solid black;
}

.row2 {
    height: 30%;
}
#footer {
    /*margin-left: -20px;*/
    height: 100%;
    width: 100%;
    background:green;
}

#address{
    background: white;
    position: absolute;
    height: 10%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;  
}
#address p{
    display: inline-block;
    vertical-align: top;
}

#QueryAddress{
    background: white;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: left;
}
#QueryPrice{
    background: white;
    position: absolute;
    bottom: 0;
    height: 57%;
    width: 100%;
    text-align: left;
    border-top: 2px solid black;
}
#midpanel{
    background: white;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
}
#City{
    background: white;
    height: 7%;
    text-align: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#City p{
    display: inline-block;
    vertical-align: top;
}
#Zip{
    background: white;
    height: 7%;
    text-align: left;
    border-bottom: 2px solid black;
}
#Zip p{
    display: inline-block;
    vertical-align: top;
}
#Picture{
    background: white;
    height: auto;
    width: 100%;
}
#Link{
    background: white;
    height: 7%;
    text-align: left;
    border-bottom: 2px solid black;
}