/*Stylesheet by Stephen L. Patterson*/

html, body, .container {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.row {
    height: 100%;
}

.row-fluid {
    height: 50%;
}

#mapid {
    height: 100%;
}
#column2 {
    height: 100%;
}

#panel1 {
    background:blue;
    height: 100%;
}


#panel2 {
    background:white;
    height: 100%;
    text-align: center;
    border: 2px solid black;
}

.row2 {
    height: 30%;
}
#footer {
    /*margin-left: -20px;*/
    height: 100%;
    width: 100%;
    background:green;
}

#address{
    background: white;
    position: relative;
    height: 20%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 5px;
    text-align: left;
    
}

#typedAddress{
    position: absolute;
    bottom: 0;
    background: cyan;
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

input{
    width: 100%;
}

#typedPrice{
    position: absolute;
    bottom: 0;
    background: coral;
    height: 40%;
    width: 100%;
    padding-top: 5px;
}

