/*Stylesheet by Stephen L. Patterson*/

html, body, .container {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.row {
    height: 100%;
}

.row-fluid {
    height: 50%;
}
.row-fluid2 {
    height: 50%;
}
#mapid {
    height: 100%;
}
#column2 {
    height: 100%;
}

#panel1  {
    background: white;
    height: 100%;
    overflow: auto;
}


#panel2 {
    background:lightgrey;
    position: relative;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    overflow: auto;
}

.row2 {
    height: 30%;
}
#footer {
    /*margin-left: -20px;*/
    height: 100%;
    width: 100%;
    background:green;
}

#address, #QueryPrice, #City, #Zip, #Link{
    background: white;
    /*position: absolute;*/
    padding-top: 0%;
    height: 7%;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;  
}
#address p, #QueryPrice p, #City p, #Zip p{
    display: inline-block;
    vertical-align: top;
}

#picture_div{
    background: white;
    /*height: 50%;*/
    /*overflow: scroll;*/
    /*width: 200px;*/
    max-width: 100%;
    height: 50%;
}
#picture_div img {
    height: 100%;
}
